@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+NL+Guides&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}
:root {
  --main-color: #fd781f;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
*::-webkit-scrollbar-track {
  background-color: #3c4266;
}
*::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
  cursor: grab;
}
a {
  text-decoration: none;
}
.dark {
  background: #1c1c1c;
  color: #fff;
}

header {
  display: flex;
  border: 2px solid #000;
  padding: 18px;
  align-items: center;
  justify-content: space-between;
  background: #e7ecff;
  color: #000;
  border-bottom: 4px solid var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 10;
}
.dark header {
  background: #000;
  color:aliceblue;
}

#header-logo {
  font-size: 2.3rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-in-out;
}
.dark #header-logo {
  color: aliceblue;
}

.nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: #000;
  font-size: 1.7rem;
  font-weight: bolder;
  position: relative;
  transition: 0.3s ease-in-out;
}
.dark .nav-links {
  color: aliceblue;
}
.nav-links::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  background: var(--main-color);
  bottom: -4px;
  border-radius: 20px;
  left: 0;
  transform: scale(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}
.nav-links:hover {
  transform: scale(1.2);
}
.nav-links:hover::after,
.nav-links.active::after {
  transform: scaleX(1);
}
.dark-switch {
  height: 30px;
  width: 60px;
  background: #3c4266;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.dark-switch input {
  display: none;
}
.dark-switch span {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  background: var(--main-color);
  scale: 1.2;
  box-shadow: 0px 0px 30px var(--main-color);
  transition: 0.3s ease-in-out;
}

#dark-mode-toggle:checked ~ .dark-switch-circle {
  transform: translateX(80%);
  background: #fff;
}

#navToggle {
  display: none;
}
.mobilenav-container {
  display: none;
}
.hamburger {
  display: flex;
  gap: 7px;
  flex-direction: column;
  height: fit-content;
  width: min-content;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.hamburger:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.hamburger span {
  background: #fff;
  height: 2px;
  width: 20px;
  border-radius: 10px;
  transform-origin: left center;
  transition: 0.2s ease-in-out;
}
#navToggle:checked ~ .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 0px);
  bottom: 10px;
}
#navToggle:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}
#navToggle:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(3px, 2px);
}
.mobile-nav {
  display: none;
  position: fixed;
  top: 90px;
  right: 10px;
  border: 2px solid var(--main-color);
  padding: 8px;
  background: #000;
  border-radius: 10px;
  flex-direction: column;
  gap: 5px;
  width: 75%;
}
#navToggle:checked ~ .mobile-nav {
  display: flex;
}
.mobile-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mobile-nav-links a {
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.4rem;
  text-align: center;
  background: #292929;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
.mobile-nav-links a:hover {
  background: var(--main-color);
  color: #fff;
}

section {
  min-height: 100vh;
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
}

#home {
  display: flex;
  gap: 20px;
  height: 100vh;
}
.home-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 10px;
  padding-top: 40px;
}
.home-content h1 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}
.home-content h1 span {
  color: var(--main-color);
}
.home-content h3 {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  font-style: normal;
}

.home-image {
  height: 100%;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px var(--main-color);
}

button {
  background-color: #fff;
  border: 1px solid #bc2a8d;
  padding: 5px;
  position: relative;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  padding-top:25px;
}

button p {
  position: absolute;
  top: 0.4em;
  left: 1.2em;
  margin: 0;
  padding: 0;
  transition: .5s;
  color: #bc2a8d;
}

button svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff
}

button:hover p {
  left: 0.6em;
  color: #fff
}

button:hover svg {
  opacity: 1;
}

button:hover {
  background-color: #bc2a8d;
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 3.3em 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  padding-top:25px;
}

.button2 > svg {
  height: 20px;
  position: absolute;
  padding: 0px 5px;
  margin-top: 5px;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/* Responsive */
@media (max-width: 940px) {
  .nav {
    display: none;
  }
  .mobilenav-container {
    display: flex;
  }
}
@media (max-width: 850px) {
  #header-logo {
    font-size: 2rem;
  }
  section {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #home {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  #header-logo {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  header {
    padding: 5px;
  }
  #header-logo {
    font-size: 20px;
  }
}
