@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+NL+Guides&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}
:root {
  --main-color: #fd781f;
  --light-back: #e7ecff;
  --dark-back: #3c3c3c;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
*::-webkit-scrollbar-track {
  background-color: #3c4266;
}
*::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
  cursor: grab;
}
a {
  text-decoration: none;
}
.dark {
  background: #1c1c1c;
  color: #fff;
}

header {
  display: flex;
  border: 2px solid #000;
  padding: 18px;
  align-items: center;
  justify-content: space-between;
  background: var(--light-back);
  color: #000;
  border-bottom: 4px solid var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 10;
}
.dark header {
  background: #000;
  color: aliceblue;
}

#header-logo {
  font-size: 2.3rem;
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-in-out;
}
.dark #header-logo {
  color: aliceblue;
}

.nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.nav-links {
  text-decoration: none;
  color: #000;
  font-size: 1.7rem;
  font-weight: bolder;
  position: relative;
  transition: 0.3s ease-in-out;
}
.dark .nav-links {
  color: aliceblue;
}
.nav-links::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 100%;
  background: var(--main-color);
  bottom: -4px;
  border-radius: 20px;
  left: 0;
  transform: scale(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}
.nav-links:hover {
  transform: scale(1.2);
}
.nav-links:hover::after,
.nav-links.active::after {
  transform: scaleX(1);
}
.dark-switch {
  height: 30px;
  width: 60px;
  background: #3c4266;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.dark-switch input {
  display: none;
}
.dark-switch span {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  background: var(--main-color);
  scale: 1.2;
  box-shadow: 0px 0px 30px var(--main-color);
  transition: 0.3s ease-in-out;
}

#dark-mode-toggle:checked ~ .dark-switch-circle {
  transform: translateX(80%);
  background: #fff;
}

#navToggle {
  display: none;
}
.mobilenav-container {
  display: none;
}
.hamburger {
  display: flex;
  gap: 7px;
  flex-direction: column;
  height: fit-content;
  width: min-content;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.hamburger:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.hamburger span {
  background: #fff;
  height: 2px;
  width: 20px;
  border-radius: 10px;
  transform-origin: left center;
  transition: 0.2s ease-in-out;
}
#navToggle:checked ~ .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 0px);
  bottom: 10px;
}
#navToggle:checked ~ .hamburger span:nth-child(2) {
  opacity: 0;
}
#navToggle:checked ~ .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(3px, 2px);
}
.mobile-nav {
  display: none;
  position: fixed;
  top: 90px;
  right: 10px;
  border: 2px solid var(--main-color);
  padding: 8px;
  background: #000;
  border-radius: 10px;
  flex-direction: column;
  gap: 5px;
  width: 75%;
}
#navToggle:checked ~ .mobile-nav {
  display: flex;
}
.mobile-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mobile-nav-links a {
  color: #fff;
  border: 2px solid #fff;
  font-size: 1.4rem;
  text-align: center;
  background: #292929;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
}
.mobile-nav-links a:hover {
  background: var(--main-color);
  color: #fff;
}

section {
  min-height: 100vh;
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
}

#home {
  display: flex;
  gap: 20px;
  height: 100vh;
}
.home-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 10px;
  padding-top: 40px;
}
.home-content h1 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}
.home-content h1 span {
  color: var(--main-color);
}
.home-content h3 {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  font-style: normal;
}

.home-image {
  height: 100%;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px var(--main-color);
}

.social-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
  margin-top: 20px;
  margin-left: 100px;
  gap: 20px;
  border-radius: 50px;
  padding: 20px;
  background: var(--light-back);
  border: 2px solid var(--main-color);
  box-shadow: 0px 0px 10px var(--main-color);
}
.dark .social-link-container {
  background: var(--dark-back);
  border: 2px solid var(--main-color);
  box-shadow: 0px 0px 10px var(--main-color);
}
.social-link1 {
  height: 60px;
  width: 60px;
}
.social-link2 {
  height: 60px;
  width: 80px;
}

.social-link-container a:hover > .social-link1 {
  animation: bounce 0.5s ease-in-out;
}
.social-link-container a:hover > .social-link2 {
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.5;
  }
  50% {
    scale: 1;
  }
  75% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

/* Responsive */
@media (max-width: 940px) {
  .nav {
    display: none;
  }
  .mobilenav-container {
    display: flex;
  }
}
@media (max-width: 850px) {
  #header-logo {
    font-size: 2rem;
  }
  section {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #home {
    flex-direction: column;
  }
}
@media (max-width: 520px) {
  #header-logo {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  header {
    padding: 5px;
  }
  #header-logo {
    font-size: 20px;
  }
}
